Package: com.julioverne.ext3nder-installer
Name: Ext3nder Installer
Author: julioverne, MidnightChips
Version: 16.5
Pre-Depends: unzip, coreutils, zip, sed
Conflicts: com.julioverne.ext3nder
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Cydia Extender Installer With Extra Features, patched for iOS 11: MidnightChips
Homepage: http://twitter.com/ijulioverne
Maintainer: Julio, MidnightChips
Section: Utilities
Depiction: http://julioverne.github.io/description.html?id=com.julioverne.ext3nder-installer
